<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container"><br>
<nav>
    <a href="/">Resipes</a> |
    <a href="/addrecipe">Add New Recipe</a>
</nav>

<h1 class="text-center">Recipe Index</h1>
<!--/*@thymesVar id="id" type="templates"*/-->
<a th:href="@{/recipe/{id}(id=${recipes.id})}" class="btn btn-primary" th:text="${recipes.name}"></a>

</body>
</html>